<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLBanHangK63.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QLBanHangK63.Properties.Settings>
            <setting name="myConnection" serializeAs="String">
                <value>Data Source = .\MSSQL; Initial catalog = LTCSDLK63; User id=admin; Password=@n123456;</value>
            </setting>
        </QLBanHangK63.Properties.Settings>
    </userSettings>
</configuration>